#chat-card {
  background-color: #0da67b;
  text-align: center;
  color: #f5f5f5;
  opacity: 0.95;
  border-radius: 10px;
}

#enter-user-card {
  background-color: #0da67b;
  border-radius: 10px;
  opacity: 0.97;
}

#username-link {
  color: #6129d9 !important;
}

#bottom-edge {
  border-radius: 10px;
}

.room-name {
  margin-top: 0;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  height: 100px;
  max-height: 50%;
  font-size: 20px;
  padding: 8px 12px;
  resize: none;
  color: black;
  background-color: #f5f5f5;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}

.my-message {
  background-color: rgb(0, 132, 255);
  margin-left: auto;
}

.received-message {
  background-color: #6129d9;
  margin-right: auto;
}

.send-message-button {
  font-size: 18px;
  font-weight: 300;
  color: white;
  background: #0da67b;
  padding: 24px 12px;
  border: none;
  width: 100%;
}

.messages-container,
.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
}
