html {
  background: url('../images/homebackground.jpg') no-repeat center center fixed;
  background-size: cover;
}

#app-title {
  text-align: center;
  justify-content: center;
}

#event-input {
  text-align: center;
  justify-content: center;
}

#hero-card {
  justify-content: center;
  align-items: center;
}

#twitter-card-row {
  justify-content: center;
  align-items: center;
}

#spotlight {
  padding: 10px;
  background-color: #0da67b;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

#spotlight-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-map {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nav-tabs {
  justify-content: center;
  align-items: center;
}

#saved-banner {
  color: rgba(0, 0, 0, 0.87);
  background-color: #0da67b;
  padding: 10px;
  border-radius: 5px;
}
