#home-links {
  padding: 10px;
  background-color: #404040;
  border-radius: 5px;
  color: #56dff5 !important;
}
.home-buttons {
  color: #56dff5 !important;
}

#nav-card {
  background-color: #0da67b;
  border-radius: 10px;
  text-align: center;
  opacity: 0.95;
}